<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
</head>
<body>
    <h1>SignUP</h1>
    <form action="/user" method = "post">
        <lable>Full Name</lable>
        <input type="text" required name="name"/>
        <lable>Email</lable>
        <input type="text" required name="email"/>
        <lable>Password</lable>
        <input type="text" required name="password"/>

        <button type="submit">Sign UP</button>
    </form>
</body>
</html>